body{
    background-color: turquoise;
}
.Accordion-main{
    max-width: 600px;
    margin: 2rem auto;
}

.title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    background-color: yellow;
    color: darkorange;
    font-weight: bold;
    padding: 5%;
    border: 1px solid;
    width: 500px;
}

.description{
    background-color: deeppink;
    color: white;
    font-weight: bold;
    padding: 5%;
    width: 500px
}

.buttons{
    display: flex;
    justify-content: space-between;
    width: 560px;
    
}